
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
    {% endif %}


</head>
<body>
    <h1> Hello World </h1>
    <div class="container">
        <style>
            .container{
                text-align: left;
            }
            h3{
                color: rgb(122, 76, 19);
                
            }
            p{
                color: burlywood;
            }
        </style>
        <p>WELCOME TO THE BEST NEWS WEBSITE</p>

    </div>
    <!-- News section  -->
    <h3> NEWS FROM ALL OVER</h3>
    {% for new in news %}
        <div  class="container">
            <h3>{{ new.title}}</h3>
            <p>{{new.author}} </p>
            <p> Visit <a href="{{new.url}}">{{new.title}}</a></p>
            
        </div>
    {% endfor %}
</body>
</html>