{% macro displayNewsList(news_list) %}

    {% for new in news_list %}
        <div  class="container content">
            <h3 style="font-size: xx-large;">{{ new.name}}</h3>

            <h4>{{new.description}}</h4>
            <p>
                See articles from
                <a href="/articles/{{new.id}}">  {{ new.name|truncate(10)}}</a>
            </p>
        </div>
        <br><br><br>
    {% endfor %}

{% endmacro %}



{% macro displayArticlesList(arts_list) %}



    {% for article in arts_list %}
        <div class="container content">
            <img src="{{ article.urlToImage }}" alt="{{ article.title }} poster" class="img-responsive">
                <a href="{{article.url}}" target=”_blank”>
                    
                    <h3>{{ article.title }}</h3>
                </a>
                <p class="des">{{article.description}}</p>
                <p class="con">{{article.content}}</p>
            
                <style>
                    h1,
                    h2,
                    h3,
                    h5,
                    h6 {
                        margin: 8px 0;
                        color: brown;
                    }
                    h4{
                        margin: 8px 0;
                        color: rgb(164, 164, 17);

                    }
            
                    p {
                        margin: 0;
                        color: rgb(3, 3, 3);
                        font-size: x-large;
                    }
            
                    .spacer {
                        flex: 1;
                    }
            
                    
            
                    .content {
                        display: flex;
                        margin: 82px auto 32px;
                        padding: 0 16px;
                        max-width: 960px;
                        flex-direction: column;
                        align-items: center;
                    }
            
            
                    .card-container {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 16px;
                    }
            
                    .card {
                        all: unset;
                        border-radius: 4px;
                        border: 1px solid #eee;
                        background-color: #fafafa;
                        height: 40px;
                        width: 200px;
                        margin: 0 8px 16px;
                        padding: 16px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.2s ease-in-out;
                        line-height: 24px;
                    }
                    img {
                        border-radius: 8px;
                    }
            
            
                    .card-container .card:not(:last-child) {
                        margin-right: 0;
                    }
            
                    .card.card-small {
                        height: 16px;
                        width: 168px;
                    }
            
                    .card-container .card:not(.highlight-card) {
                        cursor: pointer;
                    }
            
                    .card-container .card:not(.highlight-card):hover {
                        transform: translateY(-3px);
                        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
                    }
            
                    .card-container .card:not(.highlight-card):hover .material-icons path {
                        fill: rgb(105, 103, 103);
                    }
            
                    .card.highlight-card {
                        background-color: #1976d2;
                        color: white;
                        font-weight: 600;
                        border: none;
                        width: auto;
                        min-width: 30%;
                        position: relative;
                    }
            
                    .card.card.highlight-card span {
                        margin-left: 60px;
                    }
            
                    
            
                    
            
                    /* Responsive Styles */
                    @media screen and (max-width: 767px) {
                        .card-container > *:not(.circle-link) ,
                        .terminal {
                        width: 100%;
                        }
            
                        .card:not(.highlight-card) {
                        height: 16px;
                        margin: 8px 0;
                        }
            
                        .card.highlight-card span {
                        margin-left: 72px;
                        }
            
                        
                    }
            
                    @media screen and (max-width: 575px) {
                    }
                </style>

        
            
        </div>

    {% endfor %}

{% endmacro %}

{% macro displayHeadlinesList(headlines_list) %}
    {% for headline in headlines_list %}
        <div class="container content">
            <img src="{{ headline.urlToImage }}" alt="{{ headline.title }} poster" class="img-responsive">
                <a href="{{headline.url}}" target=”_blank”>
                    
                    <h3>{{ headline.title }}</h3>
                </a>
                <p class="des">{{headline.description}}</p>
                <p class="con">{{headline.content}}</p>
        </div>

    {% endfor %}

{% endmacro %}